<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.facebook.com/oapanhabolasdealvalade/">
	        			<img src='http://camp.ucss.edu.pe/brochure/guia-alumno/images/facebook.png'/>
	        			</a></li>
	        		<li><a href="https://twitter.com/oapanhabolas">
	        			<img src='https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png'/>
	        		</a></li>
				</ul>
			</footer>
		</body>
	</html>
